// default style for an article
// start with a single column grid
// top children have named grid areas

article.menu {

  .name {
    font-weight: bold;
    font-style: normal;
  }



  .loc {
    font-variant: small-caps;
    font-style: normal;
    font-size: 11pt;

    &::after {
      content: ' • ';
    }
  }

  .abv {
    font-variant: small-caps;
    font-style: normal;
    &::after {
      content: 'abv';
      padding-left: .1em;
    }
  }

  .recipe {
    display: none;
  }

}
