@charset "UTF-8";
/* photon ✴ menu Components and Templates */
/* articles/menu *****************************/
article.specials { text-align: center; }
article.specials .logo { width: 5em; height: auto; margin: 0 auto; }

/* templates/specials *****************************/
body.specials > main { background: white; display: flex; flex-flow: row nowrap; }
body.specials > main > .panel { display: flex; flex-flow: column nowrap; margin: 0; padding: 1.5em; border: 1px solid #eee; height: 100%; display: flex; flex-flow: column nowrap; justify-content: space-between; align-content: center; }
body.specials > main > .panel header { display: flex; flex-flow: row nowrap; padding: 0 1em; }
body.specials > main > .panel header > .logo { width: auto; height: 4em; padding: 0; }
body.specials > main > .panel header > div > h1 { text-align: center; }
body.specials > main > .panel header > div > h2 { font-style: italic; font-family: var(--font); }
body.specials > main > .panel > h1 { font-weight: 400; padding-left: 0.2em; letter-spacing: 0.2em; text-transform: uppercase; text-align: center; padding-top: .5em; }
body.specials > main > .panel > article { font-size: 1.2em; padding: 0; margin: 0; }
body.specials > main > .panel > article * { padding: 0; margin: 0; }
body.specials > main > .panel > article > header > h1 { font-family: var(--font); font-size: 1em; }
body.specials > main > .panel > article .name { font-weight: bold; font-style: normal; }
body.specials > main > .panel > article .loc { font-variant: small-caps; font-style: normal; font-size: 11pt; }
body.specials > main > .panel > article .loc::after { content: ' • '; }
body.specials > main > .panel > article .abv { font-variant: small-caps; font-style: normal; }
body.specials > main > .panel > article .abv::after { content: 'abv'; padding-left: .1em; }
body.specials > main > .panel > article .recipe { display: none; }
body.specials > main > .panel > article > .content { width: 100%; margin: 0 auto; }
body.specials > main > .panel > article > .content > .summary { font-style: italic; text-align: center; }
body.specials > main > .panel > article > .content > .summary > p { display: inline; }
body.specials > main > .panel > article > .content > .summary .price { font-weight: bold; font-style: normal; line-height: 1; padding-right: 0.2em; }
body.specials > main > .panel > article > .content > .summary .price::before { font-weight: normal; content: '• '; }
body.specials > main > .panel > article > .content > .summary > ul > li { display: inline; list-style: none; white-space: nowrap; }
body.specials > main > .panel > article > .content > .summary > ul > li::after { display: inline; content: ', '; }
body.specials > main > .panel > article > .content > .summary > ul > li:last-child::after { content: ''; }
body.specials > main footer { padding: 0; text-align: center; }
body.specials > main footer p { text-align: center; }

@page { margin: 0; size: 8.5in 14in; }
html { font-size: 12pt; line-height: 1.35em; }

body.specials-2up { width: 8.5in; height: 14in; margin: 0 auto; padding: 0; }
body.specials-2up main { width: 8.5in; height: 14in; }
body.specials-2up main .panel { border: none; width: 4.25in; height: 14in; display: flex; flex-flow: column nowrap; }
body.specials-2up main .panel > header { font-size: 12pt; }
@media (min-width: 72em) { body.specials-2up { display: flex; } }
@media (min-width: 90em) { @supports (display: grid) { body.specials-2up > main { display: flex; } } }

/*# sourceMappingURL=specials-2up.css.map */
