{% extends 'article.html.twig' %}
{% block body_template_classes %}{{ parent() }} specials{% endblock body_template_classes %}


{% block main %}
  <main data-collection="{{ page.collection.count }}">
    {% include 'specials-panel.html.twig' with { 'article' :  page }  %}
  </main>
{% endblock main %}
